In [1]:
import pandas as pd
import numpy as np

In [2]:
exl = pd.read_csv('cleaned data.csv')

In [3]:
exl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4588186 entries, 0 to 4588185
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   Unnamed: 1          int64
 2   ride_id             object
 3   rideable_type       object
 4   started_at          object
 5   ended_at            object
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
 14  member_casual       object
dtypes: float64(4), int64(2), object(9)
memory usage: 525.1+ MB

In [4]:
Da_mem = exl[exl['member_casual'] == 'member']

In [5]:
Da_cau = exl[exl['member_casual'] == 'casual']

In [6]:
Da_mem.head()

,Unnamed: 0,Unnamed: 1,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1,9,B9F73448DFBE0D45,classic_bike,2021-01-24 19:15:38,2021-01-24 19:22:51,California Ave & Cortez St,17660,Wood St & Augusta Blvd,657,41.900363,-87.696704,41.899181,-87.672200,member
1,1,10,457C7F4B5D3DA135,electric_bike,2021-01-23 12:57:38,2021-01-23 13:02:10,California Ave & Cortez St,17660,California Ave & North Ave,13258,41.900406,-87.696733,41.910435,-87.696890,member
5,1,14,49FCE1F8598F12C6,electric_bike,2021-01-22 15:15:28,2021-01-22 15:36:01,California Ave & Cortez St,17660,Wells St & Elm St,KA1504000135,41.900373,-87.696790,41.903272,-87.634457,member
6,1,15,0FEED5C2C8749A1C,classic_bike,2021-01-05 10:33:12,2021-01-05 10:39:12,California Ave & Cortez St,17660,Sacramento Blvd & Franklin Blvd,KA1504000113,41.900363,-87.696704,41.890469,-87.702608,member
7,1,16,E276FD43BDED6420,classic_bike,2021-01-30 11:59:16,2021-01-30 12:03:44,California Ave & Cortez St,17660,Western Ave & Walton St,KA1504000103,41.900363,-87.696704,41.898418,-87.686596,member

In [9]:
Da_mem.groupby('rideable_type')['rideable_type'].count()

rideable_type
classic_bike     1980374
docked_bike            1
electric_bike     559476
Name: rideable_type, dtype: int64

In [10]:
Da_cau.groupby('rideable_type')['rideable_type'].count()

rideable_type
classic_bike     1261530
docked_bike       312043
electric_bike     474762
Name: rideable_type, dtype: int64

In [14]:
sum(Da_mem.groupby('ride_id')['ride_id'].nunique())

2539851

In [15]:
sum(Da_cau.groupby('ride_id')['ride_id'].nunique())

2048335

In [16]:
Da_mem.count()

Unnamed: 0            2539851
Unnamed: 1            2539851
ride_id               2539851
rideable_type         2539851
started_at            2539851
ended_at              2539851
start_station_name    2539851
start_station_id      2539851
end_station_name      2539851
end_station_id        2539851
start_lat             2539851
start_lng             2539851
end_lat               2539851
end_lng               2539851
member_casual         2539851
dtype: int64

In [21]:
Da_mem['started_at'] = pd.to_datetime(Da_mem['started_at'])

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/3251970627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_mem['started_at'] = pd.to_datetime(Da_mem['started_at'])

In [22]:
Da_mem['ended_at'] = pd.to_datetime(Da_mem['ended_at'])

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/1803345915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_mem['ended_at'] = pd.to_datetime(Da_mem['ended_at'])

In [23]:
Da_mem['year_s'] = Da_mem['started_at'].dt.year

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/905328328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_mem['year_s'] = Da_mem['started_at'].dt.year

In [25]:
Da_mem['mon_s'] = Da_mem['started_at'].dt.month

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/1114616021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_mem['mon_s'] = Da_mem['started_at'].dt.month

In [27]:
Da_mem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2539851 entries, 0 to 4588185
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   Unnamed: 1          int64
 2   ride_id             object
 3   rideable_type       object
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
 14  member_casual       object
 15  year_s              int64
 16  mon_s               int64
dtypes: datetime64[ns](2), float64(4), int64(4), object(7)
memory usage: 348.8+ MB

In [30]:
Da_mem.groupby(['year_s','mon_s'])['ride_id'].nunique()

year_s  mon_s
2021    1         68819
        2         34383
        3        130048
        4        177783
        5        234164
        6        304585
        7        322902
        8        332916
        9        328192
        10       288855
        11       185909
        12       131295
Name: ride_id, dtype: int64

In [32]:
Da_mem.groupby(['year_s','mon_s'])['year_s','mon_s'].nunique()

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/317580213.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Da_mem.groupby(['year_s','mon_s'])['year_s','mon_s'].nunique()

              year_s  mon_s
year_s mon_s
2021   1           1      1
       2           1      1
       3           1      1
       4           1      1
       5           1      1
       6           1      1
       7           1      1
       8           1      1
       9           1      1
       10          1      1
       11          1      1
       12          1      1

In [33]:
Da_cau['started_at'] = pd.to_datetime(Da_cau['started_at'])
Da_cau['ended_at'] = pd.to_datetime(Da_cau['ended_at'])
Da_cau['year_s'] = Da_cau['started_at'].dt.year
Da_cau['mon_s'] = Da_cau['started_at'].dt.month

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/1941987266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_cau['started_at'] = pd.to_datetime(Da_cau['started_at'])
C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/1941987266.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_cau['ended_at'] = pd.to_datetime(Da_cau['ended_at'])
C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/1941987266.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_cau['year_s'] = Da_cau['started_at'].dt.year
C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/1941987266.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_cau['mon_s'] = Da_cau['started_at'].dt.month

In [35]:
Da_cau.groupby(['year_s','mon_s'])['ride_id'].nunique().tolist()

[14690,
 8613,
 75641,
 120420,
 216829,
 304189,
 369407,
 341469,
 292926,
 189117,
 69958,
 45076]

In [36]:
Da_mem['time_use'] = Da_mem['ended_at'] - Da_mem['started_at']

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/2312548054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_mem['time_use'] = Da_mem['ended_at'] - Da_mem['started_at']

In [37]:
Da_mem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2539851 entries, 0 to 4588185
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   Unnamed: 1          int64
 2   ride_id             object
 3   rideable_type       object
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
 14  member_casual       object
 15  year_s              int64
 16  mon_s               int64
 17  time_use            timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(4), object(7), timedelta64[ns](1)
memory usage: 368.2+ MB

In [44]:
Da_mem.groupby(['year_s','mon_s'])['time_use'].sum()

year_s  mon_s
2021    1        574 days 23:18:30
        2        352 days 21:52:27
        3       1234 days 02:37:32
        4       1760 days 21:49:08
        5       2332 days 10:53:41
        6       2990 days 19:22:36
        7       3092 days 11:05:54
        8       3133 days 07:20:18
        9       2992 days 16:52:20
        10      2410 days 00:37:26
        11      1413 days 21:15:13
        12       964 days 18:26:27
Name: time_use, dtype: timedelta64[ns]

In [45]:
Da_cau['time_use'] = Da_cau['ended_at'] - Da_cau['started_at']

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/2965737217.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_cau['time_use'] = Da_cau['ended_at'] - Da_cau['started_at']

In [46]:
Da_cau.groupby(['year_s','mon_s'])['time_use'].sum()

year_s  mon_s
2021    1        269 days 00:15:21
        2        281 days 22:32:00
        3       2021 days 07:42:13
        4       3214 days 15:15:02
        5       5967 days 23:08:49
        6       8136 days 23:36:56
        7       8538 days 18:13:37
        8       6773 days 10:17:55
        9       5713 days 16:05:17
        10      3455 days 20:26:43
        11      1092 days 06:07:29
        12       777 days 15:46:27
Name: time_use, dtype: timedelta64[ns]

In [47]:
Da_mem['hour_s'] = Da_mem['started_at'].dt.hour

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/518315058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_mem['hour_s'] = Da_mem['started_at'].dt.hour

In [49]:
Da_mem['hour_s'].head(10)

0     19
1     12
5     15
6     10
7     11
8      7
9      8
16    20
17     0
18    15
Name: hour_s, dtype: int64

In [51]:
Da_mem.groupby('hour_s')['ride_id'].nunique()

hour_s
0      25237
1      16362
2       8976
3       5104
4       5996
5      25571
6      71635
7     130376
8     149617
9     108236
10    105441
11    126945
12    147007
13    144179
14    142083
15    165068
16    216681
17    273665
18    228363
19    161177
20    106333
21     77272
22     58572
23     39955
Name: ride_id, dtype: int64

In [52]:
Da_cau['hour_s'] = Da_cau['started_at'].dt.hour
Da_cau.groupby('hour_s')['ride_id'].nunique()

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/708304866.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_cau['hour_s'] = Da_cau['started_at'].dt.hour

hour_s
0      42321
1      30667
2      19580
3      10221
4       6688
5       8823
6      19406
7      36024
8      49678
9      60887
10     85326
11    112443
12    133425
13    142254
14    146231
15    153289
16    167972
17    195962
18    176260
19    135034
20     97975
21     82711
22     76419
23     58739
Name: ride_id, dtype: int64

In [54]:
Da_cau['ride_id'].count()

2048335

In [55]:
Da_mem['ride_id'].count()

2539851

In [59]:
Da_mem_st = Da_mem.groupby(['start_station_name'])['start_station_name'].value_counts()

In [63]:
Da_mem_st.sort_values(ascending= False).head(20)

start_station_name            start_station_name
Clark St & Elm St             Clark St & Elm St               23900
Wells St & Concord Ln         Wells St & Concord Ln           22761
Kingsbury St & Kinzie St      Kingsbury St & Kinzie St        22670
Wells St & Elm St             Wells St & Elm St               20245
Dearborn St & Erie St         Dearborn St & Erie St           18658
St. Clair St & Erie St        St. Clair St & Erie St          18292
Wells St & Huron St           Wells St & Huron St             18239
Broadway & Barry Ave          Broadway & Barry Ave            16955
Clinton St & Madison St       Clinton St & Madison St         16425
Desplaines St & Kinzie St     Desplaines St & Kinzie St       16111
Clark St & Armitage Ave       Clark St & Armitage Ave         16083
Wabash Ave & Grand Ave        Wabash Ave & Grand Ave          15888
Streeter Dr & Grand Ave       Streeter Dr & Grand Ave         15869
Clark St & Lincoln Ave        Clark St & Lincoln Ave          15725
Green St & Madison St         Green St & Madison St           15343
Theater on the Lake           Theater on the Lake             15181
Clinton St & Washington Blvd  Clinton St & Washington Blvd    14752
Wells St & Hubbard St         Wells St & Hubbard St           14512
Wilton Ave & Belmont Ave      Wilton Ave & Belmont Ave        14196
Michigan Ave & Oak St         Michigan Ave & Oak St           14108
Name: start_station_name, dtype: int64

In [64]:
Da_cau_st = Da_cau.groupby(['start_station_name'])['start_station_name'].value_counts()

In [65]:
Da_cau_st.sort_values(ascending= False).head(20)

start_station_name                  start_station_name
Streeter Dr & Grand Ave             Streeter Dr & Grand Ave               64449
Millennium Park                     Millennium Park                       32185
Michigan Ave & Oak St               Michigan Ave & Oak St                 28661
Shedd Aquarium                      Shedd Aquarium                        22545
Theater on the Lake                 Theater on the Lake                   20620
Lake Shore Dr & Monroe St           Lake Shore Dr & Monroe St             19085
Wells St & Concord Ln               Wells St & Concord Ln                 18880
Clark St & Lincoln Ave              Clark St & Lincoln Ave                16290
Indiana Ave & Roosevelt Rd          Indiana Ave & Roosevelt Rd            15815
Wells St & Elm St                   Wells St & Elm St                     15809
DuSable Lake Shore Dr & Monroe St   DuSable Lake Shore Dr & Monroe St     15671
Clark St & Elm St                   Clark St & Elm St                     15597
Clark St & Armitage Ave             Clark St & Armitage Ave               15399
Wabash Ave & Grand Ave              Wabash Ave & Grand Ave                15376
New St & Illinois St                New St & Illinois St                  14709
Dusable Harbor                      Dusable Harbor                        14698
Lake Shore Dr & North Blvd          Lake Shore Dr & North Blvd            14380
DuSable Lake Shore Dr & North Blvd  DuSable Lake Shore Dr & North Blvd    14304
Michigan Ave & Lake St              Michigan Ave & Lake St                14003
Michigan Ave & Washington St        Michigan Ave & Washington St          13677
Name: start_station_name, dtype: int64

In [66]:
Da_mem_end = Da_mem.groupby(['end_station_name'])['end_station_name'].value_counts()
Da_mem_end.sort_values(ascending= False).head(20)

end_station_name              end_station_name
Clark St & Elm St             Clark St & Elm St               23971
Wells St & Concord Ln         Wells St & Concord Ln           23408
Kingsbury St & Kinzie St      Kingsbury St & Kinzie St        22855
Wells St & Elm St             Wells St & Elm St               20799
Dearborn St & Erie St         Dearborn St & Erie St           19317
St. Clair St & Erie St        St. Clair St & Erie St          18118
Wells St & Huron St           Wells St & Huron St             17902
Broadway & Barry Ave          Broadway & Barry Ave            17538
Clinton St & Madison St       Clinton St & Madison St         16779
Green St & Madison St         Green St & Madison St           16287
Clark St & Armitage Ave       Clark St & Armitage Ave         15645
Clark St & Lincoln Ave        Clark St & Lincoln Ave          15464
Wabash Ave & Grand Ave        Wabash Ave & Grand Ave          15338
Clinton St & Washington Blvd  Clinton St & Washington Blvd    14996
Desplaines St & Kinzie St     Desplaines St & Kinzie St       14919
Wilton Ave & Belmont Ave      Wilton Ave & Belmont Ave        14531
Wells St & Hubbard St         Wells St & Hubbard St           14475
Larrabee St & Webster Ave     Larrabee St & Webster Ave       14455
Streeter Dr & Grand Ave       Streeter Dr & Grand Ave         14274
Dearborn Pkwy & Delaware Pl   Dearborn Pkwy & Delaware Pl     14023
Name: end_station_name, dtype: int64

In [67]:
Da_cau_end = Da_cau.groupby(['end_station_name'])['end_station_name'].value_counts()
Da_cau_end.sort_values(ascending= False).head(20)

end_station_name                    end_station_name
Streeter Dr & Grand Ave             Streeter Dr & Grand Ave               67527
Millennium Park                     Millennium Park                       33744
Michigan Ave & Oak St               Michigan Ave & Oak St                 30364
Theater on the Lake                 Theater on the Lake                   22307
Shedd Aquarium                      Shedd Aquarium                        21159
Wells St & Concord Ln               Wells St & Concord Ln                 18619
Lake Shore Dr & Monroe St           Lake Shore Dr & Monroe St             17932
Lake Shore Dr & North Blvd          Lake Shore Dr & North Blvd            17072
DuSable Lake Shore Dr & North Blvd  DuSable Lake Shore Dr & North Blvd    16653
Wabash Ave & Grand Ave              Wabash Ave & Grand Ave                16575
Clark St & Lincoln Ave              Clark St & Lincoln Ave                16544
Indiana Ave & Roosevelt Rd          Indiana Ave & Roosevelt Rd            15806
Clark St & Armitage Ave             Clark St & Armitage Ave               15402
Wells St & Elm St                   Wells St & Elm St                     15095
Clark St & Elm St                   Clark St & Elm St                     14962
DuSable Lake Shore Dr & Monroe St   DuSable Lake Shore Dr & Monroe St     14524
Michigan Ave & Lake St              Michigan Ave & Lake St                13936
New St & Illinois St                New St & Illinois St                  13925
Michigan Ave & Washington St        Michigan Ave & Washington St          13437
Fairbanks Ct & Grand Ave            Fairbanks Ct & Grand Ave              13397
Name: end_station_name, dtype: int64

In [68]:
Da_mem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2539851 entries, 0 to 4588185
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   Unnamed: 1          int64
 2   ride_id             object
 3   rideable_type       object
 4   started_at          datetime64[ns]
 5   ended_at            datetime64[ns]
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
 14  member_casual       object
 15  year_s              int64
 16  mon_s               int64
 17  time_use            timedelta64[ns]
 18  hour_s              int64
dtypes: datetime64[ns](2), float64(4), int64(5), object(7), timedelta64[ns](1)
memory usage: 387.6+ MB

In [77]:
Da_mem['weekday'] = Da_mem['started_at'].dt.weekday

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/182612486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_mem['weekday'] = Da_mem['started_at'].dt.weekday

In [78]:
Da_mem['weekday'].head(20)

0     6
1     5
5     4
6     1
7     5
8     2
9     4
16    3
17    5
18    6
19    0
20    0
21    3
22    3
23    2
25    2
26    6
27    0
28    6
29    5
Name: weekday, dtype: int64

In [71]:
Da_mem.groupby('weekday')['ride_id'].count()

weekday
0    346481
1    388131
2    397688
3    373471
4    365782
5    357078
6    311220
Name: ride_id, dtype: int64

In [79]:
Da_cau['weekday'] = Da_cau['started_at'].dt.weekday
Da_cau.groupby('weekday')['ride_id'].count()

C:\Users\JINXIN~1\AppData\Local\Temp/ipykernel_42816/3422070945.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Da_cau['weekday'] = Da_cau['started_at'].dt.weekday

weekday
0    228934
1    214935
2    218132
3    224207
4    290040
5    468325
6    403762
Name: ride_id, dtype: int64