In [1]:
import pandas as pd
import numpy as np

In [2]:
exl_1 = pd.read_csv('202101-divvy-tripdata.csv')
exl_2 = pd.read_csv('202102-divvy-tripdata.csv')
exl_3 = pd.read_csv('202103-divvy-tripdata.csv')
exl_4 = pd.read_csv('202104-divvy-tripdata.csv')
exl_5 = pd.read_csv('202105-divvy-tripdata.csv')
exl_6 = pd.read_csv('202106-divvy-tripdata.csv')
exl_7 = pd.read_csv('202107-divvy-tripdata.csv')
exl_8 = pd.read_csv('202108-divvy-tripdata.csv')
exl_9 = pd.read_csv('202109-divvy-tripdata.csv')
exl_10 = pd.read_csv('202110-divvy-tripdata.csv')
exl_11 = pd.read_csv('202111-divvy-tripdata.csv')
exl_12 = pd.read_csv('202112-divvy-tripdata.csv')

In [3]:
exl = pd.concat([exl_1,exl_2,exl_3, exl_4,exl_5,exl_6, exl_7,exl_8,exl_9, exl_10,exl_11,exl_12], keys = ['01', '02', '03','04','05','06','07','08','09','10','11','12'] )

In [4]:
exl.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5595063 entries, ('01', 0) to ('12', 247539)
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 620.1+ MB

In [15]:
exl[(exl['rideable_type'] == 'docked_bike') & (exl['member_casual'] == 'member')]

,,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
01,30790,E46DA75E19B1856C,docked_bike,2021-01-13 18:18:21,2021-01-13 18:20:59,Glenwood Ave & Morse Ave,KA1504000175,Glenwood Ave & Touhy Ave,525,42.007971,-87.665502,42.012701,-87.666058,member

In [9]:
exl_n = exl.dropna().drop_duplicates()

In [11]:
exl_n.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4588302 entries, ('01', 9) to ('12', 247539)
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 515.5+ MB

In [12]:
def len_id(id):
    if len(id) != 16:
        return False

In [16]:
sum(exl_n['ride_id'].apply(lambda x: len_id(x)) == False)

0

In [18]:
type(exl_n['started_at'][0])

str

In [19]:
exl_n['started_at'] = pd.to_datetime(exl_n['started_at'])

In [22]:
exl_n['ended_at'] = pd.to_datetime(exl_n['ended_at'])

In [23]:
exl_n.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4588302 entries, ('01', 9) to ('12', 247539)
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 515.5+ MB

In [49]:
def time_check(x):
    if x > 1 second:
        return False
    else:
        return True

In [60]:
Er_time_index = exl_n[(exl_n['ended_at'] < exl_n['started_at'])].index.tolist()

In [61]:
Er_time_index

[('03', 39317),
 ('03', 120830),
 ('04', 22361),
 ('04', 292566),
 ('04', 292678),
 ('04', 293033),
 ('05', 313131),
 ('06', 15342),
 ('06', 69360),
 ('06', 571909),
 ('06', 728861),
 ('07', 72118),
 ('07', 72309),
 ('07', 72856),
 ('07', 133756),
 ('07', 206601),
 ('07', 206749),
 ('07', 207167),
 ('07', 207973),
 ('07', 216418),
 ('07', 447155),
 ('07', 451994),
 ('07', 452328),
 ('08', 35210),
 ('08', 70521),
 ('08', 176923),
 ('08', 176924),
 ('08', 224349),
 ('08', 279743),
 ('08', 280537),
 ('08', 358734),
 ('08', 358840),
 ('08', 358893),
 ('08', 358998),
 ('08', 358999),
 ('08', 359203),
 ('08', 359208),
 ('08', 359250),
 ('08', 359282),
 ('08', 359357),
 ('08', 359440),
 ('08', 359572),
 ('08', 359593),
 ('08', 359597),
 ('08', 489953),
 ('08', 571044),
 ('08', 681101),
 ('09', 8950),
 ('09', 49311),
 ('09', 69949),
 ('09', 82802),
 ('09', 139417),
 ('09', 167254),
 ('09', 175812),
 ('09', 241705),
 ('09', 241770),
 ('09', 255665),
 ('09', 311895),
 ('09', 317214),
 ('09', 330143),
 ('09', 334730),
 ('09', 355519),
 ('09', 388992),
 ('09', 405037),
 ('09', 408288),
 ('09', 409945),
 ('09', 435331),
 ('09', 458806),
 ('09', 458858),
 ('09', 459004),
 ('09', 459259),
 ('09', 461915),
 ('09', 528510),
 ('09', 549870),
 ('09', 557729),
 ('09', 583890),
 ('09', 626086),
 ('09', 631976),
 ('09', 709635),
 ('11', 10185),
 ('11', 11041),
 ('11', 12076),
 ('11', 23950),
 ('11', 29040),
 ('11', 35231),
 ('11', 36957),
 ('11', 38020),
 ('11', 39585),
 ('11', 42013),
 ('11', 49916),
 ('11', 62343),
 ('11', 62809),
 ('11', 63177),
 ('11', 69724),
 ('11', 104018),
 ('11', 110120),
 ('11', 111586),
 ('11', 117788),
 ('11', 117807),
 ('11', 118067),
 ('11', 119254),
 ('11', 123126),
 ('11', 125855),
 ('11', 138707),
 ('11', 142091),
 ('11', 148028),
 ('11', 176487),
 ('11', 179112),
 ('11', 242284),
 ('11', 250711),
 ('11', 253296),
 ('11', 253875),
 ('11', 260820),
 ('11', 280766),
 ('11', 282673),
 ('11', 283250)]

In [62]:
exl_n = exl_n.drop(Er_time_index)

In [63]:
exl_n.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4588186 entries, ('01', 9) to ('12', 247539)
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 515.5+ MB

In [66]:
exl_n['member_casual'].value_counts()

member    2539851
casual    2048335
Name: member_casual, dtype: int64

In [67]:
exl_n.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4588186 entries, ('01', 9) to ('12', 247539)
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 515.5+ MB

In [68]:
exl_n.groupby('start_station_name')['start_station_id'].nunique()

start_station_name
2112 W Peterson Ave             1
351                             1
63rd St Beach                   1
900 W Harrison St               1
Aberdeen St & Jackson Blvd      1
                               ..
Woodlawn Ave & 55th St          1
Woodlawn Ave & 75th St          1
Woodlawn Ave & Lake Park Ave    1
Yates Blvd & 75th St            1
Yates Blvd & 93rd St            1
Name: start_station_id, Length: 842, dtype: int64

In [72]:
No = exl_n.groupby('start_station_name')['start_station_id'].nunique().tolist()

In [73]:
len(No)

842

In [77]:
for i in range(len(No)):
    if No[i] != 1:
        i

In [87]:
No2 = exl_n.groupby('end_station_name')['end_station_id'].nunique().tolist()

In [89]:
len(No2) - sum(No2)

-1

In [ ]:
exl_n.to_csv('cleaned data.csv')